<!DOCTYPE html>
<html>
<head>
  <title>Gov Fraud Analytics</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
  <h1>Single Beneficiary Fraud Check</h1>

  <form id="singleForm">
    <input type="text" id="bank" placeholder="Bank Account" required>
    <input type="text" id="mobile" placeholder="Mobile" required>
    <input type="number" id="age" placeholder="Age" required>
    <button type="submit">Check Risk</button>
  </form>

  <div id="result"></div>
</div>

<script src="app.js"></script>
</body>
</html>